

/*HEADER NAVBAR*/

header .navbar .navbar-brand{
	color: red;
	font-family: 'Mogra',cursive;
	font-size: 30px;
}

header .navbar .form-inline{
	padding-left: 60%;
}


.header-banner img{
	width: 100%;
	padding: 20px 10% 10px 10%;
	position: center;
}


/*BODY*/
html, body{
	color: white;
	height: 100%;
}

#container{
	min-height: 100%;

}

#main{
	overflow: auto;
	padding-bottom: 100px;
}





}
/*CAROUSEL*/
.carousel-item{
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size: cover;
	margin:30%;
}


/*CAKES SECTION*/








/*FOOTER*/
.footer{
  background: #ededed;
  color: black;
  height: 360px;
  position: relative;
  
}

.footer .footer-content{
height: 350px;
display: flex;

}

.footer .footer-content .footer-section{
	flex: 1;

}



.footer .footer-content .footer-section .tlist ul{
}



.footer .footer-content .footer-section .tlist ul a li{
color: black;
	margin-top: 0;

}


.footer .footer-content .footer-section .tlist ul{
	list-style-type: none;
	font-size: 18px;
	padding-left: 10px;

}

.footer .footer-content .footer-section h3{
font-family: 'Francois One', sans-serif;}




.footer .footer-content .footer-section h2{
	color: red;
	font-family: 'Mogra',cursive;
}




.footer .footer-bottom{
  background: firebrick;
  color: white;
  height: 48px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px;
}


.socials h4{
	color: black;
	font-size: 30px;
	font-family: 'Francois One', sans-serif;
}

.socials ul{
	position: absolute;
	list-style: none;
	display: flex;
	padding-left: 0;
}

.socials ul li .fa{
	list-style: none;
	margin: 0 15px;
	font-size: 36px;
	line-height: 60px;
	transition: .6s;
	color: #000;
}

.socials ul li .fa:hover{
	color: #fff;
}


.socials ul li a{
	position: relative;
	display: block;
	width: 60px
	height: 60px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.socials ul li a:hover{
	transform: translate(0, -10px);
}

.socials ul li a:hover{
  transform: translate(0,-10px);
}

.socials ul li:nth-child(1) a:hover{
  background-color: #3b5999;
}

.socials ul li:nth-child(2) a:hover{
  background-color: #55acee;
}

.socials ul li:nth-child(3) a:hover{
  background-color: #e4405f;
}

.socials ul li:nth-child(4) a:hover{
  background-color: #fffc00;




html body{
  height: 100%;
}
.page-wrapper{
  min-height: 100%;
}


